<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kiran Shahzadi</title>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css" rel="stylesheet" />
    <link rel="stylesheet" href="layoutStyle.css">
</head>

<body>
    <div class="container">
        <section id="navbar">
            <div class="logo">
                <img src="./Images/images (1) copy.jpg" alt="kiran">
            </div>
            <div class="navitem">
                <div class="navtext">Courses</div>
                <div class="navtext">Carrier</div>
                <div class="navtext">Scholarship</div>
                <div class="navtext">Schools</div>
            </div>

            <div class="loginbtn">Login</div>


        </section>

        <section id="header">
            <div class="header_left">
                <div class="heading">
                    Protectin<br>your future<br>dreams.
                    <div class="shape1">g</div>
                </div>

                <div class="searchbar">
                    <div class="search">Search here
                        <div class="searching"><i class="ri-search-line"></i></div>
                    </div>

                </div>
            </div>
            <div class="header_right">
                <div class="main">
                    <div class="log">
                        <img src="./images/kiran.png" alt="">
                    </div>
                </div>
                <div class="star2"><i class="ri-gemini-line"></i></div>
                <div class="star3"><i class="ri-gemini-line"></i></div>
                <div class="shape"></div>
                <div class="shape2">_____<br>____<br>___<br</div>


                </div>







        </section>

        <div class="first_heading">
            <h2>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Popular Subjects</h2>
        </div>
        <div class="parent">

            <div class="containerTable">
                <div class="wrapper">
                    <div class="main">
                        <div class="plus"><i class="ri-add-large-line"></i>
                            <div><i class="ri-close-line"></i></div>
                        </div>
                        <div class="neg"><i class="ri-subtract-fill"></i>
                            <div class="slash"><strong>%</strong></div>
                            <div class="position"><i class="ri-gemini-line"></i></div>
                        </div>
                    </div>

                </div>
                <div class="math">
                    <h2>&nbsp;&nbsp;Maths</h2>
                </div>
                <div class="content">
                    <h4>What are branches of maths? Number system&basic Arithmatic Algebra , rignometery...
                    </h4>
                </div>
                <div class="more">&nbsp;&nbsp; &nbsp;Learn more</div>



            </div>

            <div class="container1">
                <div class="wrapper1">
                    <div class="main1">
                        <div class="horizon"><i class="ri-hourglass-fill"></i></i></div>
                    </div>
                    <div class="position2"><i class="ri-gemini-line"></i></div>
                </div>
                <div class="math">
                    <h2>&nbsp;&nbsp;History</h2>
                </div>
                <div class="content">
                    <h4> History,the discpline that studies the chronological record of events as affecting a nation...
                    </h4>
                </div>
                <div class="more1">&nbsp;&nbsp; &nbsp;Learn more</div>



            </div>
            <div class="container2">
                <div class="wrapper2">
                    <div class="main2">
                        <div><i class="ri-basketball-line"></i></div>


                    </div>
                    <div class="position1"><i class="ri-gemini-line"></i></div>

                </div>
                <div class="math">
                    <h2>&nbsp;&nbsp;Geography</h2>
                </div>
                <div class="content">
                    <h4>Geography, the study of the diverse environments,places,and spaces of Earth's surface...</h4>
                </div>
                <div class="more2">&nbsp;&nbsp; &nbsp;Learn more</div>



            </div>

        </div>


    </div>
</body>

</html>